
.gameTitle
  margin-bottom: 30px
  text-transform: uppercase
  color: #fff

.content
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  background-color: #fff
  padding: 50px

.Game
  background: linear-gradient(5deg, rgba(166,92,207,1) 0%, rgba(127,73,194,1) 100%);
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 80px
  flex: 1
  margin: 0
  padding: 50px

.easy
  width: 210px

.normal
  width: 420px

.hard
  width: 630px

.inputName
  margin: 0 20px
