.Dot
  border: 1px solid #000
  &:hover
    background: #dadada

.blue
  background: #4036f3
  cursor: pointer
  &:hover
    background: #4036f3

.green
  background: #51ac15
  &:hover
    background: #51ac15

.red
  background: #d63447
  &:hover
    background: #d63447

.small
  width: 40px
  height: 40px

.middle
  width: 61px
  height: 61px

.big
  width: 124px
  height: 124px
