.Dot
  width: 40px
  height: 40px
  border: 1px solid #000

  &:hover
    background: #dadada

.blueDot
  background: blue
  cursor: pointer
  
  &:hover
    background: blue

.greenDot
  background: green
  
  &:hover
    background: green

.redDot
  background: red

  &:hover
    background: red
  
